<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset name="general" label="COM_DECAROCOURSES_CONFIG_GENERAL">
    <field name="school_name" type="text" label="COM_DECAROCOURSES_FIELD_SCHOOL_NAME" default="" />
    <field name="forms_integration" type="radio" layout="joomla.form.field.radio.switcher" label="COM_DECAROCOURSES_FIELD_FORMS_INTEGRATION" default="1">
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>
  </fieldset>
</config>
